.search {
  margin: 25px;
}

.search-field {
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #fff;
}

.submit-btn {
  padding: 10px 10px;
  margin-top: 15px;
  background-color: #282c34;
  border: 1px solid #fff;
  color: #ffffff;
  cursor: pointer;
}