.App {
  text-align: center;
  background-color: #464D59;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.date {
  /* background-color: #0F1726; */
  background-color: #282c34;
  width: 100vw;
  padding: .25vmin;
}

.description {
  margin: 0px;
}

.name {
  margin: 50px 0px 10px 0px;
}

.temperature {
  margin: 0px;
  padding: 0px;
  font-size: calc(100px + 2vmin);
  color: #ffffff;
}

.toggle-btn {
  padding: 10px 10px;
  margin-top: 15px;
  background-color: #282c34;
  border: 1px solid #fff;
  color: #ffffff;
  cursor: pointer;
}

.toggle-btn:hover {
  background-color: #626977;
  color: #fff;
}
