footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #282c34;
  border-top: 1px solid #ffffff;
  padding: 10px 0px;
}

.container {
  display: flex;
}
.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:first-child > span { 
  margin-right: auto;
}

.box:last-child  > span { 
  margin-left: auto;
}

.links {
  display: inline-block;
}

.logo {
  vertical-align: bottom;
  display: inline-block;
  width: 50px;
  height: auto;
}

.favorites-btn {
  cursor: pointer;
}

.current-location {
  cursor: pointer;
}